/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#toolbar {
	top:0px;
	width: 99%;
	background-color: #99CCFF;
	text-align:right;
	padding-right: 0px;
	border-radius: 8px;
	vertical-align:text-top;
	position: relative;
	top: 50%;
}

#toolbar img {
	vertical-align: middle;
}

#insidetoolbar {
	padding: 7px;
	margin-right: 5px;

}

#play-button {
	width: 22px;
}

.search-box {
	float: left;
	padding: 10px;
	padding-top: 22px;
	padding-left: 20px;
	
}


#stop-button {
	display: none;
}

#thumba {
	border-radius: 4px;
	border-width: 2px;
	border-color: red;
}

#emaila {
  top: 5px;
}